* {
	border: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	background: #232345;
	margin: auto;
}
.direction {
	color: #fff;
	font-size: 300px;
	width: 100%;
	height: 100%;
	text-align: center;
}
.forward, .back, .left, .right {
	background: #6aae49;
}
.forward:before {
	content: '\2191';
}
.back:before {
	content: '\2193';
}
.left:before {
	content: '\2190';
}
.right:before {
	content: '\2192';
}
.forward.right:before {
	content: '\2197' !important;
}
.forward.left:before {
	content: '\2196' !important;
}
.back.right:before {
	content: '\2198' !important;
}
.back.left:before {
	content: '\2199' !important;
}
